<!DOCTYPE html>
<html>
<head>
  <title>Anexos</title>
  <meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/menuHeader.css}" />
    <link rel="stylesheet" th:href="@{/css/recursos.css}" />
</head>
<body>
  <div class="container-fluid">    
      <div th:insert="~{fragments/header::header}"></div>
      <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 style="text-align: center;">Anexos</h2>
                        <a class="btn btn-lg btn-registro mb-3 float-right" th:href="@{/incidencias/solicitudes}" style="color: white;">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row ml-1">
          <div class="card col-6 col-sm-12 col-lg-6 mt-2" style="background-color: #D3D3D3" th:each="evidencia : ${listEvidencia}">
              <div class="card-body">
                  <div class="col">
                      <iframe th:src="${evidencia}" id="canvas" style="width: 100%; height: 500px"></iframe>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>