<!DOCTYPE html>
<html>
    <head>
        <title>Listado de Ciudadanos</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/menuHeader.css}" />
        <link rel="stylesheet" th:href="@{/css/recursos.css}" />
        
    </head>
    <body>
        <div class="container-fluid">
        <div th:insert="~{fragments/header::header}"></div>
        <div class="row">
            <div class="col">
                <div class="card mt-12">
                    <div class="card-body">
                        <h2 style="text-align: center;">Listado de Ciudadanos</h2>
                         <a th:href="@{/ciudadano/create}" class="btn btn-lg btn-registro mb-3 float-right" style="color: white;">
                                <ion-icon name="pencil"></ion-icon>&nbsp;Nuevo Ciudadano
                         </a>
                        <table class="table">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Nombre del Enlace</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Rol</th>
                                    <th colspan="3">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr th:each="ciudadano, contador: ${listCiudadanos}">
                                    <td th:text="${contador.count}"></td>
                                    <td th:text="${ciudadano.nombre}"></td>
                                    <td th:text="${ciudadano.correoElectronico}"></td>
                                    <td th:text="${ciudadano.rol}"></td>
									<td>
										<a th:href="@{/ciudadano/update/{idciudadano} (idciudadano=${ciudadano.idciudadano})}" class="btn btn-opciones">
											<ion-icon name="create"></ion-icon>
										</a>
										
										<a class="btn btn-opciones" th:href="@{/ciudadano/mostrar/{idciudadano} (idciudadano=${ciudadano.idciudadano})}">
                            				<ion-icon name="eye"></ion-icon>&nbsp;
                        				</a>
                        				
                        				<a th:href="@{/ciudadano/delete/{idciudadano} (idciudadano=${ciudadano.idciudadano})}" class="btn btn-opciones">
                                            <ion-icon name="trash"></ion-icon>
                                        </a>
                                        
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/tinymce.min.js}"></script>
    </body>
</html>