<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403</title>
	<link rel="stylesheet" th:href="@{/css/toast.min.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    
</head>
<body>
	<img src="/images/screenErrors/403.png" width="700" height="500">
	<h3>403 El acceso a este recurso en el servidor esta denegado.</h3>
	<button type="submit" class="btn btnRegistrar btn-lg mt-3">
       Regresar
  	</button>
</body>
</html>