<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="stylesheet" th:href="@{/css/menuHeader.css}">
	<link rel="stylesheet" th:href="@{/css/recursos.css}">
    
</head>
<body>
	<img src="/images/screenErrors/404.jpg" width="700" height="500">
	<h3>404 El recurso solicitado no pudo ser encontrado en este servidor.</h3>
	<a type="button" th:href="@{/home}" class="btn btn-lg btnCancelar">
		Regresar
	</a>
</body>
</html>