<!DOCTYPE html>
<html lan="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/menuHeader.css}" />
    <link rel="stylesheet" th:href="@{/css/recursos.css}" />
    <link rel="stylesheet" th:href="@{/css/toast.min.css}">
    <link rel="stylesheet" th:href="@{/css/updatePassword.css}" />
</head>
<body>
<input type="text" id="message" th:value="${message}" hidden>
<input type="text" id="alert" th:value="${alert}" hidden>
    <div class="container-fluid">
        <div th:insert="~{fragments/header::header}"></div>
        <div class="form-container">
            <form class="text-center" method="post" th:action="@{/cambioContrasenia/save}">
                <div class="form-group col">
                    <h2>Actualizar Contraseña</h2>
                    <input type="password" class="form-control form-control-lg mt-3" id="currentPassword" name="currentPassword" placeholder="Ingresa tu actual contraseña" />
                    <input type="password" class="form-control form-control-lg mt-3" id="confirmPassword" name="confirmPassword" placeholder="Ingresa tu nueva contraseña" />
                    <input type="password" class="form-control form-control-lg mt-3" id="password" name="password" placeholder="Repite tu nueva contraseña" />
                    <button type="button" onclick="validate()" class="btn btnRegistrar mt-3">Actualizar</button>
                    <button type="button" id="changePassword" class="btn btnRegistrar mt-3" hidden></button>
                </div>
            </form>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:src="@{/js/toast.min.js}" type="text/javascript"></script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        const messageToastr = document.getElementById("message");
        const alertToastr = document.getElementById("alert");
        if (messageToastr.value.length > 0 && alertToastr.value.length > 0) {
            switch (alertToastr.value) {
                case 'success':
                    toastr.success(messageToastr.value, '', toastr.options);
                    break;
                case 'error':
                    toastr.error(messageToastr.value, '', toastr.options);
                    break;
            }
        }
        function validate(){
            const confirmPassword = document.getElementById('confirmPassword').value;
            const password = document.getElementById('password').value;
            const currentPassword = document.getElementById('currentPassword').value;
            if(confirmPassword.length == 0 || password.length == 0 || currentPassword.length == 0){
                toastr.error('Favor de llenar todos los campos', '', toastr.options);
            }else{
                if(confirmPassword != password){
                    toastr.error('Las contraseñas no coinciden', '', toastr.options);
                    document.getElementById('password').value = '';
                    document.getElementById('confirmPassword').value = '';
                }else{
                    document.getElementById('changePassword').type = 'submit';
                    document.getElementById('changePassword').click();
                }
            }
        }
    </script>
</body>

</html>