<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes de Comité</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/menuHeader.css}" />
    <link rel="stylesheet" th:href="@{/css/recursos.css}" />
</head>
<body>
    <div class="container-fluid">
        <div th:insert="~{fragments/header::header}"></div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 style="text-align: center;">Listado de Solicitudes</h2>
                        <h5>Municipio: <span th:text="${municipio}"/></h5>
                        <table class="table mt-4">
                            <thead class="text-center">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Solicitante</th>
                                <th scope="col">Fecha de registro</th>
                                <th colspan="3">Acciones</th>
                            </tr>
                            </thead>
                            <tbody class="text-center">
                            <tr th:each="solicitud,contador : ${listSolicitudes}">
                                <td th:text="${contador.count}"></td>
                                <td th:text="${solicitud.categoria.nombre}"></td>
                                <td class="justify-content-center" th:text="${solicitud.descripcion}"></td>
                                <td th:switch="${solicitud.estado}">
                                    <span th:case="0">Pendiente</span>
                                    <span th:case="1">Canalizada</span>
                                    <span th:case="2">Atendida</span>
                                    <span th:case="3">Cancelada</span>
                                </td>
                                <td th:text="${solicitud.ciudadano.nombre} + ' ' + ${solicitud.ciudadano.primerApellido} + ' ' + ${solicitud.ciudadano.segundoApellido}"></td>
                                <td th:text="${solicitud.fechaRegistro}"></td>
                                <td ></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>