<link rel="stylesheet" th:href="@{/css/menuHeader.css}" >

<nav class="navbar navbar-expand-lg navbar-light " th:fragment="header">
	<a class="navbar-brand text-light" href="#">SICOV</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link text-light" th:href="@{/home}">Inicio <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item" th:if="${role == '[ROLE_ADMINISTRADOR]'}">
				<a class="nav-link text-light" th:href="@{/municipio}">
					Municipios
				</a>
			</li>
			<li class="nav-item" th:if="${role == '[ROLE_ENLACE]'}">
				<a class="nav-link text-light" th:href="@{/colonia}">
					Colonias
				</a>
			</li>
			<li class="nav-item" th:if="${role == '[ROLE_ADMINISTRADOR]'}">
				<a class="nav-link text-light" th:href="@{/servicios_publicos/list}">
					Servicios públicos
				</a>
			</li>
			<li class="nav-item" th:if="${role == '[ROLE_ADMINISTRADOR]'}">
				<a class="nav-link text-light" th:href="@{/ciudadano/list}">
					Ciudadanos
				</a>
			</li>
			<li class="nav-item" th:if="${role == '[ROLE_ENLACE]'}">
				<a class="nav-link text-light" th:href="@{/comite}">
					Comités
				</a>
			</li>
			<li class="nav-item" th:if="${role == '[ROLE_PRESIDENTE]'}">
				<a class="nav-link text-light" th:href="@{/incidencias/list}">
					Incidencias
				</a>
			</li>
			<li class="nav-item">
				
				<form th:action="@{/logout}" method="post" class="d-flex">
					<button type="submit" th:href="@{/logout}" class="btn btnCerrar" >Cerrar Sesión
						<ion-icon name="log-out-outline" style="color: black;"></ion-icon>
					</button>
				</form>
			</li>
		</ul>
	</div>
</nav>