.form-container {
	background-color:#74839b;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 20%;
    margin-left: 30%;
    position: absolute;
	height: 70%;
	transition: all 0.6s ease-in-out;
    border-radius: 5px;
}

h2 {
    color: white;
	text-align: center;
    position:relative;
}

